<a href="/products/new"><button>New Product</button></a>

<% @products.each do |product| %>
  <h1><%= product.city_name %></h1>
  <h4><%= product.description %></h4>
  <a href="/products/<%= product.id %>"><button>More Info</button></a>
<% end %>